<h1 class= "text-center"><%= pluralize(@users.count, 'Result')%></h1>
<div class= "container">
<table>
<thead>
 <th> <%= sort_link(@q, :full_name, "Name", default_order: :asc)%></th>
 <th> <%= sort_link(@q, :email, "Email")%></th>
<tbody>
<% @users.each do |user|%>
<tr>
<td><%= link_to user.full_name, user%></td>
<td><%= link_to user.email, user%></td>
</tr>
<%end%>
</tbody>
</thead>
</table>
</div>
