<div class='user-profile'>
  <div class='profile row'>
    <div class='col-md-4 avatar'>
      <div class='wrapper'>
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar %>
        <% end %>
      </div>
    </div>
    <div class='col-md-8 basic-info'>
        <div class='user-wrapper'>
          <h2 class='fullname'><%= @user.full_name %></h2>
          <% if current_user.id != @user.id %>
           <%= render 'follow_unfollow' %>
          <%end%>
        </div>
        <div>
          <p><%= @user.bio %>
          <% if current_user.id == @user.id %>
          <button class= 'btn btn-blue ml-4'>
          <%= link_to 'Edit Profile', edit_user_registration_path(current_user.id) %></button></p>
          <%end%>
        </div>
      <div>
        <ul>
          <li><span><%= @posts.count %></span> posts</li>
           <li><span><%= @user.followers.count %></span> followers</li>
           <li><span><%= @user.followees.count %></span> following</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% if @user.Public? || @user.followers.pluck(:follower_id).include?(current_user.id) %>
<%= render 'user_posts' %>
<% elsif current_user.id == @user.id %>
<%= render 'user_posts' %>
<%else%>
<p>This user is private. Follow to see their posts and more!</p>
<%end %>
