<div class='posts'>
  <% @posts.each do |post| %>
      <section class='post'>
        <div class='user'>
          <div class='avatar'>
            <% if post.user.avatar.attached? %>
              <%= image_tag post.user.avatar %>
            <% end %>
          </div>
          <%= link_to post.user.full_name, user_path(post.user), class: 'fullname' %>
        </div>
        <div class='fullname'>
          <%if post.images.attached?%>
            <%= render partial: 'posts/post', locals: {post: post}%>
          <%end%>
          <div class='description'>
            <%= post.content %>
          </div>
          <div>
            <%= render partial: 'likes/like_unlike', locals: {post: post} %>
          </div>
          <div>
            <%= render partial: 'comments/create_comment', locals: {post: post} %>
          </div>
      </section>
  <% end %>
</div>
