<div class="post-show row">
  <div class="col-md-8">
  <%=image_tag @post.image, class: 'image' %>
  </div>
  <div class="col-md-4">
    <div class="user">
      <div class="avatar">
        <% if @post.user.avatar.attached? %>
          <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.avatar %>
          <% end %>
        <% end %>
      </div>
      <%= link_to @post.user.full_name, user_path(@post.user), class: 'username' %>
    </div>
    <div class="description">
      <%= @post.content %>
    </div>
    <%@user=@post.user%>
    <%= render 'posts/like_unlike' %>
    <div class="delete">
    <% if current_user.posts.exists?(@post.id) %>
      <%= link_to 'Delete Post', post_path(@post.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Edit Post', edit_post_path(@post.id), data: { confirm: 'Are you sure?' } %>
     <% end %>
    </div>
    <div>
    <%= render 'comments/create_comment'%>
</div>
</div>
