<h1 class="text-center">Welcome to Instagram Clone</h1>
<p class="text-center">Please signup or signin to continue</p>
<p class="text-center">
<%= link_to "Sign In", new_user_session_path %>
<%= link_to "Sign Up", new_user_registration_path %>
</p>
<%# <div class="posts"> %>
  <%# <% @posts.each do |post| %>
    <%# <section class="post">
  <div class="user">
    <div class="avatar">
      <img src="store.jpeg">
    </div>
    <div class="username">
      <%= post.user.full_name %>
    <%# </div> %>
  <%# </div> %>
  <%# <%= image_tag post.image, class: 'main-image' %>
  <%# <div class="description">
    <%= post.content %>
  <%# </div> %>
<%# </section> %>
  <%# <% end %>
<%# </div> %>
