<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if notice%>
    <p class='notice alert alert-success'><%= notice %></p>
    <%elsif alert%>
    <p class='alert alert alert-danger'><%= alert %></p>
    <%end%>
    <% if user_signed_in? %>
      <%= render 'layouts/navbar' %>
    <% end %>

    <main class='container main'>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
